.box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: 1300px;
    padding-left: 50px;
  }

  input{
    width: 1300px;
    height: 30px;
    border: 5px solid #c7dafb;
    border-radius: 5px;
  }

  button{
    background-color: #408558;
    color: white;
    border: 5px solid #408558;
    width: 100px;
    height: 30px;
  }

  .search{
    padding: 50px 0 50px 50px;
  }
  