body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th, td {
    border: 2px solid black;
    padding: 5px 10px;
  }
  
  th {
    font-weight: bold;
  }